html, body {
	font-family: var(--custom-font);
}

#row {
	background-color: var(--custom-color);
}

#navbar {
	background-color: var(--custom-color);
}

#navbar_items {
	margin: auto;
}

#navbar_items span {
	padding-left: 30px;
	font-size: 20px;
	color: white;
}

#container_top {
	position: relative;
	display: flex;
	min-height: 380px;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: var(--custom-color);
}

#container_bottom {
	width: 100%;
	padding-top: 120px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #eeeeee;
}

#table_container {
	width: 80%;
  	overflow-x: auto;
}

table {
	background-color: white;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
}

.table_column {
	
}

#header {
	font-size: 42px;
	color: white;
}

#description {
	font-size: 26px;
	color: white;
}

#table_header {
	font-size: 16px;
}

table td {
	font-size: 20px;
}

#table_spread {
	color: #1158D1;
}

#table_high {
	color: green;
}

#table_low {
	color: red;
}

/* table menu */

#table_menu_container {
	height: 80px;
	width: 50%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#dropdown {
	height: 40px;
	width: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#dropdown span {
	font-size: 18px;
}

#dropdown_icon {
	font-size: 16px;
}

#refresh_button {
	height: 40px;
	display: flex;
	align-items: center;
}

#search {
	width: 200px;
}

#info_container {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#info_subContainer {
	width: 100%;
	display: flex;
}

#info_icon_container {
	height: 100%;
	width: 5%;
}

#info_icon {
	color: red;
}

#info_text_container {
	width: 95%;
	flex-wrap: wrap;
}

#info_text {
	font-size: 16px;
}

#info_button_container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* 24hhigh */

#box {
	top: 330px;
	position: absolute;
	height: 100px;
	width: 70%;
	border-radius: 8px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
  	transition: 0.3s;
	background-color: white;
}

#container {
	width: 200px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#left_container {
	display: flex;
	flex-direction: column;
}

#sub_container {
	display: flex;
	flex-direction: column;
}

#image {
	height: 50px;
	width: 50px;
	object-fit: contain;
}

#container_header {
	font-size: 18px;
}

#val {
	font-size: 18px;
	color: #1158D1;
}

@media only screen and (max-width: 768px) {
	#navbar_container {
		padding-left: 5px;
		background-color: #0F47A6;
	}

	#container_top {
		min-height: 150px;
	}

	#header {
		font-size: 22px;
	}

	#description {
		font-size: 18px;
	}

	#search_box {
		display: none;
	}

	#container_bottom {
		padding-top: 0;
	}

	#table_menu_container {
		width: 100%;
		justify-content: space-around;
	}

	#dropdown {
		width: 200px;
		display: flex;
		align-items: center;
	}

	#table_container {
		width: 100%;
	}

	table td {
		font-size: 16px;
	}
}